//loop over each object in the projects array

{{ #each blogs as |blog| }}
<div class = "row mb-4 blog">
    <div class="col-md-5">
        <h2>
            <a href="/blog/{{ blog.id }}">{{ blog.name }}</a>
        </h2>
        <p>
            <span class = "blogs">{{format_text blogs.title}}</span>
        </p>
        <p>
            Author is {{ blog.user.name }} on {{format_date blog.date_created}}
        </p>
    </div>




</div>